/* fonts  */
@font-face {
    font-family: "Windlass";
    src: url("../fonts/windlass.woff2") format('woff2');
}
@font-face {
    font-family: "Brushtip Texe";
    src: url("../fonts/brushtiptexe.woff2") format('woff2');
}

/* basics  */
body { 
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
    letter-spacing: 0.0375em;
}

button, .btn {
    letter-spacing: 0.0375em;
}

.bg-black { background-color: #181818; }
a { color: #facc8e; }
a:hover { color: #fca832; }
h1 {
    font-family: "Brushtip Texe";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.0375em;
    text-align: left;
    font-size: 2rem;
    line-height: 1;
    padding-top: 1rem;
}
h1 span.og-title {
    font-size: 1rem;
    color: #6cd6a2;
}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Windlass";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.0375em;
    color: #6cd6a2;
    letter-spacing: 0.0375em;
}
h2 {
    font-size: 1.5rem;
    font-variant: small-caps;
}

h3 {
    font-size: 1.125rem;
}
hr {
    height: 0px;
    border-radius: 2px;
    color: #6cd6a2;
    border: 2px solid #6cd6a2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* images */
.cabal-logo { 
    margin-top: 1rem; 
    margin-left: 1rem; 
    max-width: 100px; 
}
.icon { 
    width: 1.5em; 
    margin-right: 0.5rem; 
}
/* buttons selected */
.btn-selected {
    color: #f5e9d5;
    background-color: #7d3b2f;
}
.btn-selected:hover {
    color: #fff;
    background-color: #924537;
}
.btn-selected:focus {
    box-shadow: 0 0 0 3px rgba(125, 59, 47, 0.5);
}
/* buttons unselected */
.btn-muted {
    color: #f5e9d5;
    background-color: #475559;
}
.btn-muted:hover {
    color: #fff;
    background-color: #1d4b42;
}
.btn-muted:focus {
    box-shadow: 0 0 0 3px rgba(29, 75, 66, 0.5);
}
/* control th width of bonus table rows */
.og-control {
    width: 8.75em;
    max-width: 8.75em;
}
/* tips */
.og-help { 
    color: #9aa4ad; 
    background-color: #222529; 
}
/* discord channels and report text */
code, .og-discord {
    color: #facc8e;
    font-family: "Courier Prime", monospace;
    font-weight: 400;  
}
.og-discord { 
    background-color: #1d4b42;
}
/* errors and successes */
.og-error { 
    background-image: linear-gradient(to bottom, #7d3b2f, #472b25);
    border: 3px solid #facc8e;
}
.og-warning { 
    background-image: linear-gradient(to bottom, #AB6503, #7D4E1C);
    border: 3px solid #fca832;
}
.og-success {
    background-color: #1d4b42;
    border: 3px solid #6cd6a2;
}
/* table overrides */
th { 
    white-space: nowrap !important; 
}
.og-hl { 
    color: #facc8e;
}