body { }

a { color: #facc8e; }
a:hover { color: #fca832; }
.bg-black { background-color: #181818; }
.ed-tips { color: #aaa; background-color: #314954; }

.cabal-logo { margin-top: 1rem; margin-left: 1rem; max-width: 100px; }

h1 {
    font-family: "Jim Nightshade";
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 3.5rem;
    line-height: 1;
    padding-top: 1rem;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #a1bcc9;
}

hr {
    height: 0px;
    border-radius: 2px;
    color: #a1bcc9;
    border: 2px solid #314954;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1 .h3 { color: #fff; }

.btn-secondary { background-color: #292b2e; }

.bg-errors { background-color: #500; }

.border-golden { border-color: #facc8e !important; }

th { white-space: nowrap; }

code, .copyblock { color: #facc8e; }

img.icon { width: 1.5em; margin-right: 0.5rem; }

w-100 { width: 100%; }